 <div class="container">
  <div id="alert-message">
    <% if flash[:review_alert].present? %>
		  <% flash.each do |key, message| %>
		    <div class="alert alert-danger mt-1 auto-hide  text-center">
		      <% message2 = message.gsub(",","<br>") %>
		      <%= message2.html_safe %>
		     </div>
		   <% end %>
		 <% end %>
  </div>
</div>

<section id="detail" style="background-image: url(<%= "https://image.tmdb.org/t/p/original" + "#{@movie.backdrop_path}"%>);">
	<div class="background-custom">
	<div class="movie-content">
		<div class="content-left">
			<% if @movie.poster_path %>
				<%= image_tag('https://image.tmdb.org/t/p/w500' + @movie.poster_path) %>
			<% else %>
				<%= image_tag('https://dummyimage.com/500x750/000/fff', class: 'fallback-thumbnail') %>
			<% end %>
		</div>

		<div class="content-right">
			<div class="movie-info-top">
				<div class="movie-show-title"><%= @movie.title %></div>
				<% if @movie.title != @movie.original_title %>
				<div class="movie-show-originaltitle">(<%= @movie.original_title %>)</div>
				<% end %>
					<div class="movie-info-date">
						<span class="movie-release">公開日: <%= @movie.release_date.to_date %></span>
						<span class="movie-genres"><%= @movie.genres.map(&:name).join(', ') %></span>
					</div>
			</div>
      <div class="movie-user-action">
				<% if user_signed_in? %>
					<div class="movie-follow-button">
						<% if @review_count < 1 %>
							<button type="button" class="btn btn-warning btn-sm movie-button" data-toggle="modal" data-target="#testModal">レビューする</button>
						<% else %>
					 		<%= link_to edit_review_path(@user_review) do %>
					  	<button type="button" class="btn btn-info btn-sm movie-button" >レビュー済み</button>
					 		<% end %>
					 	</div>
					<% end %>
						<div class="movie_interest movie-button" id="movie-<%= @movie_id %>_interest">
		         		<%= render 'interests/interest', movie: @movie %>
		        	</div>
			　<% else %>
			　 ログインしてレビューをする
			  <% end %>
			 </div>
        <div class="movie-overview">
        	<div class="overview-title">概要</div>
				　<div class="overview-text"><%= @movie.overview %></div>
			</div>
		</div>

	    <!-- ボタン・リンククリック後に表示される画面の内容 -->
	    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	       <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
	  			<div class="modal-content" style="color:black;">
			    		<%= form_with(model: @review, local: true) do |form| %>
			    		   <%= form.hidden_field :movie_id, :value => @movie.id %>
		   				   <%= form.hidden_field :title, :value => @movie.title %>
						   <%= form.hidden_field :poster_path, :value => @movie.poster_path %>
			    			<div class="modal-header">
			      			<div class="modal-title">レビューする</div>
			      			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        			<span aria-hidden="true">&times;</span>
			      			</button>
			    			</div>
			    		<div class="modal-body">
			    		<div class="form-group" id="star">
							 <%= form.label :total_score %>
							 <%= form.hidden_field :total_score, id: :review_star %>
					    </div>
			      		<div class="form-group field">
			        		<%= form.label :本文 , class: "form-control-label"%>
			        		<%= form.text_area :body, size: "40x10", class: "form-control" %>
			      		</div>
			    		</div>
			    		<div class="modal-footer actions">
			    			<div class="custom-control custom-switch my-4 custom-control custom-radio">
			    				<div class="spoiler-box">
							      <%= form.check_box :spoiler, checked_value: "true", unchecked_value: "false", class: "custom-control-input" %>
							      <%= form.label :spoiler, class: "ml-2 custom-control-label" %>
							        <i class="fas fa-exclamation-triangle" style="margin-right:60px;">ネタバレを含んでいたらチェックをお願いします</i>
							     </div>
							     <div class="review-submit-button">
			      				<%= form.submit "書き込む", class: "btn btn-primary"%>
			      			 </div>
			    		</div>
			    	<% end %>
			    	 <script>
			    	　 $('#star').empty();
					   $('#star').raty({
					   size: 36,
					   starOff: '<%= asset_path('star-off.png') %>',
					   starOn: '<%= asset_path('star-on.png') %>',
					   starHalf: '<%= asset_path('star-half.png') %>',
					   scoreName: 'review[total_score]',
					   half: true,
					   });
					 </script>
	  	 		</div>
			</div>
	 	</div>
	</div>
	</div>
</section>


<section id="movie-review" >


  	<div class="page-header container"><%= "「#{@movie.title}」に投稿された評価・感想"%></div>
    <% @reviews.each do |review| %>
     <div class="main posts-index">
  		<div class="container">
      <div class="posts-index-item">
        <div class="post-left">
        　<% if review.user.image_id? %>
            <img src="<%= review.user.image_id %>" >
          <% else %>
            <%= image_tag asset_path("default.jpg", alt: "ユーザー画像") %>
          <% end %>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to("#{review.user.name}の感想・評価", "/users/#{review.user.id}") %>
          </div>
          <div class="post-time">
        		<%= review.created_at %>
      		</div>
      		<div class="post-raty">
      		 	<div id="star-rate-<%= review.id %>" class="rate-number">
		          <script>
		          $('#star-rate-<%= review.id %>').empty();
		          $('#star-rate-<%= review.id %>').raty({
		            size: 36,
		            starOff:  '<%= asset_path('star-off.png') %>',
		            starOn : '<%= asset_path('star-on.png') %>',
		            starHalf: '<%= asset_path('star-half.png') %>',
		            half: true,
		            readOnly: true,
		            score: <%= review.total_score %>,
		          });
		          </script>
          	</div>
          	<div class="rate-number"><%= review.total_score %></div>
          </div>


          <% if review.spoiler.present? %>
            <div class="hidden_box">
              <label for="label/#{review.id}">
                <i class="fas fa-exclamation-triangle">ネタバレを表示</i>
              </label>
              <input type="checkbox" id="label/#{review.id}"/>
              <div class="hidden_show">
                <%= link_to "/reviews/#{review.id}" do %>
                 <div class="review-text">
                   <%= safe_join(review.body.truncate(300).split("\n"),tag(:br)) %>
                    <% if review.body.size >= 300 %>
                      <p><<<続きを読む</p>
                    <% end %>
                 </div>
                <% end %>
              </div>
            </div>
          <% else %>
            <%= link_to "/reviews/#{review.id}" do %>
             <div class="review-text">
               <%= safe_join(review.body.truncate(300).split("\n"),tag(:br)) %>
                <% if review.body.size >= 300 %>
                  <p><<<続きを読む</p>
                <% end %>
             </div>
            <% end %>
          <% end %>



         <div class="review_index_card_footer">
         <% if user_signed_in? %>
          <div class="review_index_good-bad" id="review-<%= review.id %>_good">
           <%= render 'goods/good-bad', review: review %>
           <% end %>
          </div>
     <% if user_signed_in? %>
      <% if review.user_id == current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/reviews/#{review.id}/edit", {data: {toggle: "modal"}, data: {target: "#testModal"}}) %>
          <%= link_to "削除", "/reviews/#{review.id}", method: :delete, data: {confirm: '本当に削除して良いですか?',cancel: 'やめる',commit: '削除する'}, title: '削除確認' %>
        </div>
      <% end %>
      <% end %>

    </div>
        </div>
      </div>
  </div>
</div>
<% end %>
  </section>