<section id="detail">
	<div class="container">
	<div class="movie-content row">
		<div class="content-left">
			<% if @movie.poster_path %>
				<%= image_tag('https://image.tmdb.org/t/p/w500' + @movie.poster_path, class: 'img-thumbnail') %>
			<% else %>
				<%= image_tag('https://dummyimage.com/500x750/000/fff', class: 'fallback-thumbnail') %>
			<% end %>
		</div>

		<div class="content-right">
			<h1><%= @movie.title %></h1>
			<span class="movie-release">公開日: <%= @movie.release_date.to_date %></span>
			<span class="movie-genres">ジャンル: <%= @movie.genres.map(&:name).join(', ') %></span>

			<div class="movie-overview">
				<%= @movie.overview %>
			</div>

          <% if user_signed_in? %>
			<% if @review_count < 1 %>
			<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#testModal">レビューする</button>
			<% else %>
			 <%= link_to edit_review_path(@user_review) do %>
			  <button type="button" class="btn btn-info btn-sm" >レビュー済み</button>
			 <% end %>
			<% end %>
		　<% else %>
		　 ログインしてレビューをする
		  <% end %>
		  
		  <div class="movie_interest" id="movie-<%= @movie_id %>_interest">
         <%= render 'interests/interest', movie: @movie %>
        </div>


       


		</div>

	    <!-- ボタン・リンククリック後に表示される画面の内容 -->
	    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	       <div class="modal-dialog" role="document">
	  			<div class="modal-content">
			    		<%= form_with(model: @review, local: true) do |form| %>
			    		   <%= form.hidden_field :movie_id, :value => @movie.id %>
		   				   <%= form.hidden_field :title, :value => @movie.title %>
						   <%= form.hidden_field :poster_path, :value => @movie.poster_path %>
			    			<div class="modal-header">
			      			<h5 class="modal-title">レビューする</h5>
			      			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        			<span aria-hidden="true">&times;</span>
			      			</button>
			    			</div>
			    		<div class="modal-body">
			    		<div class="form-group" id="star">
							 <%= form.label :total_score %>
							 <%= form.hidden_field :total_score, id: :review_star %>
					    </div>
			      		<div class="form-group field">
			        		<%= form.label :本文 , class: "form-control-label"%>
			        		<%= form.text_area :body, size: "40x10", class: "form-control" %>
			      		</div>
			    		</div>
			    		<div class="modal-footer actions">
			      			<%= form.submit "書き込む", class: "btn btn-primary"%>
			    		</div>
			    	<% end %>
			    	 <script>
			    	　 $('#star').empty();
					   $('#star').raty({
					   size: 36,
					   starOff: '<%= asset_path('star-off.png') %>',
					   starOn: '<%= asset_path('star-on.png') %>',
					   starHalf: '<%= asset_path('star-half.png') %>',
					   scoreName: 'review[total_score]',
					   half: true,
					   });
					 </script>
	  	 		</div>
			</div>
	 	</div>
	</div>
	</div>
</section>

<section id="movie-review" >

  <div class="main posts-index">
  <div class="container">
  	<h3 class="page-header"><%= "「#{@movie.title}」に投稿された評価・感想"%></h3>
    <% @reviews.each do |review| %>
      <div class="posts-index-item">
        <div class="post-left">
        　<img src=<%= review.user.image_id %> >
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to("#{review.user.name}の感想・評価", "/users/#{review.user.id}") %>
          </div>
          <div class="post-time">
        		<%= review.created_at %>
      		</div>
      		<div class="post-raty">
      		 	<div id="star-rate-<%= review.id %>" class="rate-number">
		          <script>
		          $('#star-rate-<%= review.id %>').empty();
		          $('#star-rate-<%= review.id %>').raty({
		            size: 36,
		            starOff:  '<%= asset_path('star-off.png') %>',
		            starOn : '<%= asset_path('star-on.png') %>',
		            starHalf: '<%= asset_path('star-half.png') %>',
		            half: true,
		            readOnly: true,
		            score: <%= review.total_score %>,
		          });
		          </script>
          	</div>
          	<div class="rate-number"><%= review.total_score %></div>
          </div>
          <%= link_to "/reviews/#{review.id}" do %>
          <%= safe_join(review.body.split("\n"),tag(:br)) %>
          <% end %>

          <div class="review_index_card_footer">
          <div class="review_index_good-bad" id="review-<%= review.id %>_good">
           <%= render 'goods/good-bad', review: review %>
          </div>
      <% if review.user_id == current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/reviews/#{review.id}/edit", {data: {toggle: "modal"}, data: {target: "#testModal"}}) %>
          <%= link_to("削除", "/reviews/#{review.id}", {method: "delete"}) %>
        </div>
      <% end %>

    </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  </section>