<ul class="nav nav-tabs justify-content-center" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">GOODが多いレビュー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">BADが多いレビュー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">フォロワーが多いユーザー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="item4-tab" data-toggle="tab" href="#item4" role="tab" aria-controls="item4" aria-selected="true">レビューが多い映画</a>
      </li>
    </ul>
  </div>
</div>
<div class=container>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
        <%= render 'layouts/timeline', timeline_reviews: @good_ranking_reviews %>
      </div>
      <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
        <%= render 'layouts/timeline', timeline_reviews: @bad_ranking_reviews %>
      </div>
      <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
        <%= render 'users/users', users: @follower_ranking_users %>
      </div>
      <div class="tab-pane fade" id="item4" role="tabpanel" aria-labelledby="item4-tab">
        <% @count_ranking_reviews.each do |review| %>
    			<div class="movie-count-card index-cards">
            <div class="card" style="border-radius: 20px;">
              <%= link_to movie_path(review.movie_id) do %>
                <% if review.poster_path %>
          				<%= image_tag('https://image.tmdb.org/t/p/w500' + review.poster_path, class: 'movie-count-img index-cards-img') %>
          			<% else %>
          				<%= image_tag('https://dummyimage.com/500x750/000/fff', class: 'movie-count-img index-cards-img') %>
          			<% end %>
          		 <% end %>
                <div class="card-body index-cards-body" style="padding: 10px;">
                  <div class="card-title movie-title"><%= review.title %></div>
                  <p id="index-cards-text"  class="card-text"><%= "総レビュー数: #{review.review_count}" %></p>
                  <% if current_user.interests.find_by(movie_id: review.movie_id).present? %>
                    <div class="index-cards-bottom"><%= link_to "追加済み", movie_interest_path(review.movie_id), class:"btn btn-info btn-sm", method: :delete %></div>
                  <% else %>
                    <div class="index-cards-bottom"><%= link_to "観たい！", movie_interest_path(movie_id: review.movie_id, title: review.title, poster_path: review.poster_path), class:"btn btn-warning btn-sm", method: :post %></div>
                  <% end %>
                  <div class="index-review-button">
              			<% if current_user.reviews.find_by(movie_id: review.movie_id).present? %>
                			<%= link_to movie_path(review.movie_id) do %>
                			  <button type="button" class="btn btn-info btn-sm" >レビュー済み</button>
                			 <% end %>
              			<% else %>
              			  <%= link_to movie_path(review.movie_id) do %>
              			   <button type="button" class="btn btn-warning btn-sm" >レビューする</button>
              			  <% end %>
              			<% end %>
              		</div>
                </div>
              </div>
            </div>
    	    <% end %>
      </div>
    </div>
</div>


<div class="card" style="width: 18rem;">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
  <div class="card-body">
    <h5 class="card-title">Card titleあああああああああああああああああああああああああああああああ</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
