<ul class="nav nav-tabs justify-content-center" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">GOODが多いレビュー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">BADが多いレビュー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">フォロワーが多いユーザー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="item4-tab" data-toggle="tab" href="#item4" role="tab" aria-controls="item4" aria-selected="true">レビューが多い映画</a>
      </li>
    </ul>
  </div>
</div>
<div class=container>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
        <%= render 'layouts/timeline', timeline_reviews: @good_ranking_reviews %>
      </div>
      <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
        <%= render 'layouts/timeline', timeline_reviews: @bad_ranking_reviews %>
      </div>
      <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
        <%= render 'users/users', users: @follower_ranking_users %>
      </div>
      <div class="tab-pane fade" id="item4" role="tabpanel" aria-labelledby="item4-tab">
        <% @count_ranking_reviews.each do |review| %>
        <div class="movie-count-card">
          <div class="card">
            <%= image_tag('https://image.tmdb.org/t/p/w342' + review.poster_path, class: 'movie-count-img') %>
            <div class="card-body">
              <p class="card-title"><%= review.title %></p>
              <p class="card-text"><%= "総レビュー数: #{review.review_count}" %></p>
              <% if current_user.interests.find_by(movie_id: review.movie_id).present? %>
                <p class="text-center"><%= link_to "観たいリストに追加済み", movie_interest_path(review.movie_id), class:"btn btn-info btn-sm", method: :delete %></p>
              <% else %>
                <p class="text-center"><%= link_to "この映画を観たい", movie_interest_path(movie_id: review.movie_id, title: review.title, poster_path: review.poster_path), class:"btn btn-warning btn-sm", method: :post %></p>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
