	<div class="modal-content">
			    		<%= form_with(model: @review, local: true) do |form| %>
			    		   <%= form.hidden_field :movie_id  %>
		   				   <%= form.hidden_field :title %>
						   <%= form.hidden_field :poster_path %>
			    			<div class="modal-header">
			      			<h5 class="modal-title">レビュ-を編集する</h5>
			      			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        			<span aria-hidden="true">&times;</span>
			      			</button>
			    			</div>
			    		<div class="modal-body">
			    		<div class="form-group" id="star">
							 <%= form.label :total_score %>
							 <%= form.hidden_field :total_score, id: :review_star %>
					    </div>
			      		<div class="form-group field">
			        		<%= form.label :本文 , class: "form-control-label"%>
			        		<%= form.text_area :body, size: "40x10", class: "form-control" %>
			      		</div>
			    		</div>
			    		<div class="modal-footer actions">
			      			<%= form.submit "更新する", class: "btn btn-primary"%>
			    		</div>
			    	<% end %>
			    	 <script>
					   $('#star').raty({
					   size: 36,
					   starOff: '<%= asset_path('star-off.png') %>',
					   starOn: '<%= asset_path('star-on.png') %>',
					   starHalf: '<%= asset_path('star-half.png') %>',
					   scoreName: 'review[total_score]',
					   half: true,
					   });
					 </script>
	  	 		</div>
			</div>
	 	</div>