
    <% @reviews.each do |review| %>
    <div class="container">
     <div class="main posts-index">
      <div class="posts-index-item">
        <div class="review-main">
        <div class="review-left">
          <div class="review-user-icon">
           <% if review.user.image_id? %>
            <img src="<%= review.user.image_id %>" >
          <% else %>
            <%= image_tag asset_path("default.jpg", alt: "ユーザー画像") %>
          <% end %>
          </div>

          <div class="review-user-name">
            <%= link_to("#{review.user.name}の感想・レビュー", "/users/#{review.user.id}") %>
          </div>
          <div class="review-time">
        		<%= review.created_at %>
      		</div>
      		<div class="review-title">
            <h5><strong><%= review.title %></strong></h5>
          </div>
      			<div class="post-raty">
      		 	<div id="star-rate-<%= review.id %>" class="rate-number">
		          <script>
		          $('#star-rate-<%= review.id %>').empty();
		          $('#star-rate-<%= review.id %>').raty({
		            size: 36,
		            starOff:  '<%= asset_path('star-off.png') %>',
		            starOn : '<%= asset_path('star-on.png') %>',
		            starHalf: '<%= asset_path('star-half.png') %>',
		            half: true,
		            readOnly: true,
		            score: <%= review.total_score %>,
		          });
		          </script>
          	</div>
          	<div class="rate-number"><%= review.total_score %></div>
          </div>
          <%= link_to "/reviews/#{review.id}" do %>
           <div class="review-text">
             <%= safe_join(review.body.truncate(300).split("\n"),tag(:br)) %>
              <% if review.body.size >= 300 %>
                <p><<<続きを読む</p>
              <% end %>
           </div>
          <% end %>
         </div>
         <div class="review-right">
          <div class="review-poster">
         <a href="/movies/<%= review.movie_id %>">
           <% if review.poster_path %>
				<%= image_tag('https://image.tmdb.org/t/p/w500' + review.poster_path ) %>
			<% else %>
				<%= image_tag('https://dummyimage.com/500x750/000/fff' ) %>
			<% end %>
			</a>
		  </div>


      <div class="review-button">
        <% if user_signed_in? %>
          <% if current_user.interests.find_by(movie_id: review.movie_id).present? %>
          <div class="review-cards-bottom"><%= link_to "追加済み", movie_interest_path(review.movie_id), class:"btn btn-info btn-sm", method: :delete %></div>
        <% else %>
          <div class="review-cards-bottom"><%= link_to "観たい！", movie_interest_path(movie_id: review.movie_id, title: review.title, poster_path: review.poster_path), class:"btn btn-warning btn-sm", method: :post %></div>
        <% end %>

  			<% if current_user.reviews.find_by(movie_id: review.movie_id).present? %>
    			<%= link_to movie_path(review.movie_id) do %>
    			  <button type="button" class="btn btn-info btn-sm" >レビュー済み</button>
    			 <% end %>
  			<% else %>
  			  <%= link_to movie_path(review.movie_id) do %>
  			   <button type="button" class="btn btn-warning btn-sm" >レビューする</button>
  			  <% end %>
  			<% end %>
  		 <% end %>
      </div>
    </div>
    </div>

      <div class="review_index_card_footer">
        <% if user_signed_in? %>
          <div class="review_index_good-bad" id="review-<%= review.id %>_good">
           <%= render 'goods/good-bad', review: review %>
        <% end %>
          </div>
        <% if user_signed_in? %>
          <% if review.user_id == current_user.id %>
            <div class="post-menus">
              <%= link_to("編集", "/reviews/#{review.id}/edit", {data: {toggle: "modal"}, data: {target: "#testModal"}}) %>
              <%= link_to("削除", "/reviews/#{review.id}", {method: "delete"}) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="row justify-content-center">
  <%= paginate @reviews %>
</div>