<div class="main posts-index">
  <div class="container">
    <% @reviews.each do |review| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src=<%= review.user.image_id %> >
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to("#{review.user.name}の感想・レビュー", "/users/#{review.user.id}") %>
          </div>
          <div class="post-time">
        		<%= review.created_at %>
      		</div>
      		<div class="post-title">
            <h6><strong><%= review.title %></strong></h6>
          </div>
      			<div class="post-raty">
      		 	<div id="star-rate-<%= review.id %>" class="rate-number">
		          <script>
		          $('#star-rate-<%= review.id %>').empty();
		          $('#star-rate-<%= review.id %>').raty({
		            size: 36,
		            starOff:  '<%= asset_path('star-off.png') %>',
		            starOn : '<%= asset_path('star-on.png') %>',
		            starHalf: '<%= asset_path('star-half.png') %>',
		            half: true,
		            readOnly: true,
		            score: <%= review.total_score %>,
		          });
		          </script>
          	</div>
          	<div class="rate-number"><%= review.total_score %></div>
          </div>
          <%= link_to "/reviews/#{review.id}" do %>
           <div class="review-text">
             <%= safe_join(review.body.truncate(300).split("\n"),tag(:br)) %>
              <% if review.body.size >= 300 %>
                <p><<<続きを読む</p>
              <% end %>
           </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

