<header>
  <nav class="navbar navbar-expand-lg " style="background: #021b30;">
    <a class="navbar-brand header-text" href="/">Movie-Review</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars fa-lg"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link faa-parent animated-hover header-text' do %>
             <i class="fas fa-film faa-wrench"></i>
            <span>人気の映画</span>
            <% end %>
          </li>
           <li class="nav-item">
            <%= link_to reviews_path, class: 'nav-link faa-parent animated-hover header-text' do %>
             <i class="far fa-comments faa-wrench"></i>
            <span>レビューを探す</span>
            <% end %>
          </li>
           <li class="nav-item">
            <%= link_to users_path, class: 'nav-link faa-parent animated-hover header-text' do %>
             <i class="fas fa-user faa-wrench"></i>
            <span>ユーザーを探す</span>
            <% end %>
          <li class="nav-item">
            <%= link_to ranking_path, class: 'nav-link faa-parent animated-hover header-text' do %>
             <i class="fas fa-crown faa-wrench"></i>
            <span>ランキング</span>
            <% end %>
          </li>

          <% if user_signed_in? %>
           <li class="nav-item">
            <%= link_to timeline_path, class: 'nav-link faa-parent animated-hover header-text' do %>
             <i class="fas fa-list-ul faa-wrench"></i>
            <span>タイムライン</span>
            <% end %>
            <li class="nav-item dropdown header-text">
              <a class="nav-link dropdown-toggle header-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">設定</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to  "マイページ", user_path(current_user), class:"dropdown-item" %>
                <%= link_to  "プロフィール編集", edit_user_path(current_user), class:"dropdown-item" %>
                <%= link_to  "ログアウト", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link faa-parent animated-hover header-text' do %>
             <i class="fas fa-user-plus faa-wrench"></i>
            <span>登録する</span>
            <% end %>
          </li>
           <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link faa-parent animated-hover header-text' do  %>
             <i class="fas fa-sign-in-alt faa-wrench"></i>
            <span>ログイン</span>
            <% end %>
          <% end %>
          </ul>
          <% unless user_signed_in? %>
           <%= link_to 'ゲストログイン', homes_guest_sign_in_path, method: :post, class:"btn btn-success my-2 my-sm-0 guest-button" %>
          <% end %>
          <%= form_with url: search_path, class: "form-inline my-2 my-lg-0", method: :get, local: true do |f| %>
            <%= f.text_field :word, class: "form-control mr-sm-2", placeholder: '映画を探す' %>
            <%= f.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
          <% end %>


    </div>
  </nav>
</header>