<!DOCTYPE html>
<html>
  <head>
    <title>MovieReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  </head>

  <body>
    <%= render 'layouts/header' %>
     <% if request.path.include?("about") %>
      <div class="about_container text-center">
       <div  id="alert-message">
        <% if flash.notice.present? %>
          <p class="alert alert-success mt-1 auto-hide"><%= flash.notice %></p>
        <% if flash.alert.present? %>
          <p class="alert alert-danger mt-1 auto-hide"><%= flash.alert %></p>
        <% end %>
        <% end %>
       </div>
      </div>
      <%= yield %>
    <% else %>
      <div class="container">
        <div id="alert-message">
        <% if flash.notice.present? %>
          <p class="alert alert-success mt-1 auto-hide"><%= flash.notice %></p>
        <% if flash.alert.present? %>
          <p class="alert alert-danger mt-1 auto-hide"><%= flash.alert %></p>
        <% end %>
        <% end %>
        </div>
        </div>
        <%= yield %>
    <% end %>
  </body>
</html>
